<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/cc/bootstrap.min.css">
      <script src="/js/bootstrap.min.js"></script>
      <title>
            <h1>This is the head text</h1>
      </title>
</head>