<%- include('partials/head') %>

<body>
        <%- include('partials/navbar') %>
        <h1>The home page <%= `hello world`.toUpperCase() %></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dicta alias numquam eligendi placeat iure.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dicta alias numquam eligendi placeat iure.</p>
</body>
</html>